@import "fonts";
@import "_variables";

.services {
    &__slide {
        display: flex;
        min-width: 300px;
        max-width: 1120px;
        position: relative;
        min-height: 196px;
        flex-direction: column;
        background-color: $bg-color;
    }

    &__header {
        display: flex;
        padding: 16px;

        &-text {
            display: block;
            color: $gray;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}
// Слайды 
.slide {
    &__list {
        display: flex;
        width: 100%;;
        position: relative;
        margin-left: 16px;
        .swiper-slide-next {
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }
// разное ремонты
        &-others {
            &.swiper-slide {
                display: flex;
                gap: 16px;
                border-radius: 5px;
                margin-left: 0;
                width: 240px;
                height: 160px;
                margin-left: 16px;
                background-color: #fff;
                border: 1px solid #eaeaea;
            }
        }
// прайс заказы
        &-price {
            &.swiper-slide {
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                justify-content: center;
                margin-left: 0;
                width: 260px;
                height: 200px;
                margin-left: 16px;
                background-color: #fff;
                border: 1px solid #eaeaea;
            }
            .price__card {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex-shrink: 0;
                position: relative;
                height: auto;
                font-size: 14px;
                padding: 16px;
                justify-content: center;
                line-height: 14px;
                &-title {
                    display: block;
                    color: #727278;
                    margin-bottom: 3px;
                }

                &-text {
                    display: block;
                }
            }
        }
// слайды с лого
        &-item {
            &.swiper-slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                height: 72px;
                width: 240px;
                margin-left: 16px;
                border-radius: 6px;
                box-sizing: border-box;
                padding: 0px 16px;
                border: 1px solid #eaeaea;
            }
        }

        &-text {
            position: relative;
            font-size: 16px;
            margin: 16px;
        }
// кнопки
        &-btns {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $pink;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin: 0;

            &::after {
                content: '';
                width: 8px;
                height: 8px;
                border-top: 2px solid $pink;
                border-right: 2px solid $pink;
                transform: rotate(45deg);
                margin-left: -3px;
            }
        }

        &-btnsPrice {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 120px;
            height: 32px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            border-radius: 20px;
            background-color: $pink;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin: 16px;

            &::after {
                content: '';
                width: 8px;
                height: 8px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
                margin-left: -3px;
            }
        }

        &-btnsOthers {
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $pink;
            align-items: center;
            justify-content: center;
            margin: 16px;

            &::after {
                content: '';
                width: 8px;
                height: 8px;
                border-top: 2px solid $pink;
                border-right: 2px solid $pink;
                transform: rotate(45deg);
                margin-left: -3px;
            }
        }

        .swiper-pagination {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 25px;
            margin-left: auto;
            &-bullet {
                background: #DDDDDD;
                opacity: 1;
                width: 12px;
                height: 12px;
                &-active {
                    background: #B5B6BC;
                }
            }
        }
    }

    &__logo {
        display: block;
        max-height: 32px;
        max-width: 120px;
        object-fit: contain;
        object-position: left center;
    }
}

// Text в прайсе 
.price__others {
    display: flex;
    padding: 16px;
    justify-content: flex-start;
    max-width: 440px;
    flex-direction: column;
    
    &-text {
        display: block;
        color: #1b1c21;
        font-size: 14px;
    }
    
    &-btn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        line-height: 30px;
        border: none;
        min-width: 192px;
        max-width: 292px;
        background: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &::after {
            content: '';
            width: 8px;
            height: 8px;
            border-top: 2px solid $pink;
            border-right: 2px solid $pink;
            transform: rotate(45deg);
            margin-left: -3px;
            
        }

        &:hover,
        &:focus,
        &:active {
            filter: brightness(92%);

            &.price__others-btn {
                filter: drop-shadow(0px 1px 1px #3a3a3a);
            }

            &::after {
                transform: scale(1.15) rotate(45deg);
        }
        }
    }
}

.expand {
    &__btn {
        display: none;
    }
}