@import "fonts";
@import "header";
@import "_variables";
@import "_menu";
@import "_slides";
@import 'swiper/css/bundle';

// ROot
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

body  {
    font-family: $font-main;
}

/* MAIN */
.main-container {
    display: block;
    min-height: 597px;
}

/* NAV and Services */
.services {
    &__container {
        display: flex;
        align-items: center;
        padding: 24px 0 16px 0;
        gap: 12px;
    }

    &__highlight {
        width: 4px;
        height: 40px;
        background-color: #41f6d7;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &__name {
        font-size: 28px;
        flex: 1;
    }

    &__right {
        display: none;

        &-text {
            display: none;
        }
    }
}

.nav {
    &__container {
        display: flex;
        height: 40px;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 16px;
        list-style-type: none;
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__btn {
        background-color: transparent;
        align-items: center;
        font-size: 16px;
        width: 100%;
        padding: 8px 10px;
        margin: 0;
        white-space: nowrap;
        border: none;
        cursor: pointer;

        &--active {
            border-radius: 6px;
            outline: 2px solid #b8ffec;
        }

        &:focus {
            border-radius: 6px;
            outline: 2px solid #b8ffec;
        }
    }
}

/* Контент */
.content {
    display: block;

    &__main {
        width: 100%;
        // /* overflow: hidden; */
    }

    &__text {
        display: block;
        font-size: 14px;
        padding: 16px 16px;
        max-height: 90px;
        overflow: hidden;
        line-height: 18px;
    }

    &__more {
        display: flex;
        gap: 8px;
        font-size: 16px;
        height: 24px;
        margin: 24px 16px;
        font-weight: 500;
        border: none;
        background: transparent;
        font-family: $font-main;

        &::before {
            display: inline-block;
            content: '';
            width: 24px;
            background-image: url(../img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__post {
        display: flex;

        &-img {
            display: block;
            width: 100%;
        }
    }
}

.price__header {
    display: none;
}
// Подвал

.footer {
    display: flex;
    background-color: $bg-color;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-bottom: 16px;
    &__text {
        font-size: 14px;
        color: $gray;
    }
    &__link {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
// Медиа запросы
@media (min-width: 768px) and (max-width: 1023px) {
    .slide__list {
        .swiper-slide:nth-child(n + 7) {
            display: none;
        }

        &.expanded {
            .swiper-slide:nth-child(n + 7) {
                display: flex;
            }
        }
    }
}

@media (min-width: 1120px) {
    .menu {
        position: fixed;
        top: 50px;
        left: 0;
        width: 320px;
        height: 100vh;
        transform: translateX(0) !important;
        box-shadow: none;
    }

    .menu__btn-close {
        display: none;
    }

    .header,
    .main-container {
        margin-left: 320px;
        width: calc(100% - 320px);
    }
}

@media (min-width: 768px) {
    .menu {
        display: block;
    }

    .slide__list {
        margin-bottom: 0;

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 224px);
            padding: 24px 24px 0 24px;
            gap: 24px;
            box-sizing: border-box;
        }

        .swiper-pagination {
            display: none;
        }

        &.expanded {
            + .expand__btn {
                .expand__btn-icon {
                    display: inline-block;
                    transition: transform 0.3s ease;
                    transform: rotate(180deg);
                }
            }
        }
        .slide__list-price .swiper-slide {
            display: flex;
            gap: 36px;
        }
    }


    .expand__btn {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 185px;
        white-space: nowrap;
        padding: 24px 24px;
        background: none;
        border: none;
        cursor: pointer;

        &-text {
            font-family: $font-main;
            font-size: 16px;
            color: $font-color;
        }

        &-icon {
            display: block;
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
        }
    }

    .header__line {
        display: none;
    }

    .header__btn--call,
    .header__btn--write,
    .header__btn--profile,
    .header__line--tablet {
        display: block;
    }

    .content {
        display: flex;
        flex-direction: row;
        padding: 16px;
        align-items: flex-start;
        gap: 20px;

        &__text {
            padding: 0;
            max-height: 160px;
            line-height: 20px;
            flex: 1;
        }

        &__post-img {
            display: block;
        }

        &__btn {
            display: inline-block;

            &:hover,
            &:focus,
            &:active {
                filter: brightness(92%);
                filter: drop-shadow(0px 1px 1px #3a3a3a);
            }
        }
    }
}

@media (min-width: 1024px) {
    .slide__list {
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 224px);
            padding: 24px 24px 0;
            gap: 24px;
            box-sizing: border-box;
        }

        .slide__list-item:nth-child(n + 9) {
            display: none;
        }

        &.expanded {
            .slide__list-item:nth-child(n + 9) {
                display: flex;
            }
        }

        .slide__list-others:nth-child(n + 5) {
            display: none;
        }

        &.expanded {
            .slide__list-others:nth-child(n + 5) {
                display: flex;
            }
        }
    }

    .header__container {
        display: none;
    }

    .main-container {
        padding: 50px;
    }

    .content {
        display: flex;
        flex-direction: row;
        padding: 16px;
        max-width: 100%;
        height: 100%;

        &__main {
            flex: 1;
        }

        &__post {
            flex: 1;
            height: 100%;
            width: 100%;
        }

        &__text {
            width: 100%;
            height: 100%;
        }
    }

    .services {
        &__right {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0 32px;

            &-text {
                display: block;
                font-size: 16px;
                font-style: bold;
            }
        }
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        gap: 24px;
        padding: 16px 32px;

        &__text {
            padding-top: 34px;
            flex: 1;

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }
    }
}

@media (min-width: 766px) {
    .slide__list {
        .swiper-wrapper .slide__list-price {
            display: none;
        }
    }
    .price-section {
        &__container {
            display: block;
        }
        .price__header {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            align-items: center;
            margin-top: 24px;
            min-width: 620px;
            width: auto;
            padding: 0px 35px 16px;
            box-sizing: border-box;
            color: $gray;
            font-size: 14px;
        }

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
        }

        .slide__list-price.swiper-slide {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            align-items: center;
            width: 100%;
            min-width: 620px;
            height: auto;
            min-height: 45px;
            padding: 0px 35px;
            margin: 0;
            box-sizing: border-box;
            flex-shrink: 0;
            background: #fff;
            border: 0;
            border-radius: 0;

            &:not(:last-child) {
                border-bottom: 1px solid #e7e7e7;
            }

            .price__card {
                display: flex;
                height: 100%;
                position: relative;
                padding: 16px 0px 16px;

                &-title {
                    display: none;
                }

                &-text {
                    color: $font-color;
                    font-size: 14px;
                    line-height: 1.4;
                }
            }
        }
    }

    .price__others {
        padding-top: 32px;
    }
}
